<nav class="navbar navbar-inverse navbar-static-top" style="width: 100%">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Tallmen</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/games">Games</a></li>
        <li routerLinkActive="active"><a routerLink="/forums">Forum</a></li>
        <li *ngIf="this.isLoggedIn" routerLinkActive="active"><a routerLink="/profile">Profile</a></li>
      </ul>
      <div *ngIf="!this.isLoggedIn">
        <form class="navbar-form navbar-right" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <button type="submit" [disabled]="!loginForm.valid">send</button>
            <div class="form-group">
              <label for="name">name</label>
              <input type="text" id="name" formControlName="name" class="form-control">
            </div>
            <div class="form-group">
              <label for="password">password</label>
              <input type="text" id="password" formControlName="password" class="form-control">
            </div>
        </form>
      </div>
    </div>
  </div>
</nav>
