<nav class="navbar navbar-inverse navbar-static-top container-fluid" style="padding: 0 !important; z-index: 1; top: 0">
    <ul class="nav navbar-nav col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <li routerLinkActive="active"><a routerLink="/games">Games</a></li>
      <li routerLinkActive="active"><a routerLink="/forums">Forum</a></li>
      <li *ngIf="this.account._id != ''" routerLinkActive="active"><a routerLink="/{{account._id}}/profile">Profile</a></li>
    </ul>
    <form *ngIf="this.account._id === ''" class="navbar-form navbar-right col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding-right: 2%;" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name" style="color: aliceblue">name</label>
          <input type="text" id="name" formControlName="name" class="form-control">
        </div>
        <div class="form-group">
          <label for="password" style="color: aliceblue">password</label>
          <input type="text" id="password" formControlName="password" class="form-control">
        </div>
        <button type="button" (click)="login()" [disabled]="!loginForm.valid" style="background-color: aliceblue">login</button>
        <button type="button" (click)="register()" [disabled]="!loginForm.valid" style="background-color: aliceblue">register</button>
    </form>
    <div class="navbar-form navbar-right col-xs-2 col-sm-2 col-md-2 col-lg-2" *ngIf="this.account._id != ''" style="padding-right: 2%; ">
      <button type="button" (click)="logout()" style="background-color: aliceblue">Logout</button>
    </div>
</nav>
