<nav class="navbar navbar-inverse navbar-static-top" style="width: 100%">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Tallmen</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/games">Games</a></li>
        <li routerLinkActive="active"><a routerLink="/forums">Forum</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a>hello this is a test</a></li>
      </ul>
    </div>
  </div>
</nav>
