<div (click)="setDetail()">
  <img style="height: 100px; width:100px;"
    [src]="this.character.portraitImagePath"
    alt="{{ this.character.name }}"
  />
</div>
<div *ngIf="this.detail" style="margin: 0 auto; width: 100%; height: inherit">
    <div style="position:absolute; background: rgba(0,0,0,.5); width: 50%;height: inherit; display: flex; justify-content: center">
      <ul style="text-align: center; width:100%; list-style: none; padding-left: 0">
        <li class="h2" style="color: white">{{ character.name }}</li>
        <li class="h3" style="color: white">{{ character.backstory }}</li>
      </ul>
    </div>
</div>
