<div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 container-fluid" style="padding: 0; margin-left: 1%">
  <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12" style="background: rgba(255,255,255,.5)">
    <h1>{{ post.title }}</h1>
  </div>
  <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12" style="background: rgba(255,255,255,.5)">
    <h3>{{ post.message }}</h3>
  </div>
  <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12" style="background: rgba(255,255,255,.2)">
    <h2>Replies:</h2>
  </div>
  <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12" style="background: rgba(255,255,255,.1)">
    <div class="row">
      <div class="col-xs-12">
        <app-reply-item *ngFor="let reply of post.replies" [reply]="reply"></app-reply-item>
      </div>
    </div>
  </div>
  <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="!this.creatingReply">
    <button class="center-block" style="background-color: aliceblue" (click)="setCreatingReply()">New Reply</button>
  </div>
  <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngIf="this.creatingReply">
    <form [formGroup]="replyForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="form-group">
          <label for="message">New reply</label>
          <input type="text" id="message" formControlName="message" class="form-control">
        </div>
      </div>
      <div class="row row col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <button class="center-block" style="background-color: aliceblue" type="submit" [disabled]="!replyForm.valid">send</button>
        <button class="center-block" style="background-color: aliceblue" (click)="this.setCreatingReply()">Cancel</button>
      </div>
    </form>
  </div>
</div>
