<div>
  <h2>{{ this.reply.message }}</h2>
  <span *ngIf="this.isLoggedIn">
    <span *ngIf="this.reply.authorId === this.account._id">
      <button (click)="deleteReply()">Delete</button>
      <button (click)="toggleEdit()">Edit</button>
    </span>
  </span>
  <div *ngIf="this.editing" style="margin-left: 1%">
    <form [formGroup]="replyForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="form-group">
          <label for="message">New reply</label>
          <input type="text" id="message" formControlName="message" class="form-control">
        </div>
      </div>
      <div class="row">
        <button type="submit" [disabled]="!replyForm.valid">send</button>
        <button (click)="this.setCreatingReply()">Cancel</button>
      </div>
    </form>
  </div>
</div>
